@model IEnumerable<URLShortener.Models.URL>

@{
	ViewData["Title"] = "URLShortener";
}

<div class="container mt-5">
	<h1 class="display-4 text-center mb-4">Your Shortened URLs</h1>

	<!-- Bordered table showing a list of original URL and shortened url -->
	<table class="table table-bordered">
		<thead class="table-light">
			<tr>
				<th>Original URL</th>
				<th>Shortened URL</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.OriginalUrl</td>
					<td>@ViewBag.Host/@item.ShortCode</td>
					<!-- Delete button with confirmation & anti forgery token (POST) -->
					<td>
						<form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to delete \'@item.ShortCode\' (@item.OriginalUrl)?');">
							@Html.AntiForgeryToken()
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
